body{
  /* background-image: url(../public/images/bike.jpg);
  background-repeat: no-repeat; 
  background-size: cover; Adjust the size to cover the entire body */
  width: 100%;
  height: 100vh;
  background-color: #cc9966;

}
/* styles.css (or your preferred filename) */
.fetch-demo-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e6ccb3;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.product-list {
  list-style: none;
  padding: 0;
}

.product-item {
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-item h5 {
  font-size: 18px;
  margin-bottom: 5px;
}

.product-item p {
  margin: 5px 0;
  font-size: 16px;
}

